* {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: #3A4466;
}

*::-webkit-scrollbar-thumb {
    background-color: #181425;
}

html {
    overflow-x: hidden;
}

.content {
    img {
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.navbar {
    margin-top: 0px;

    font-family: "Nunito Sans", monospace;
    font-size: 1.2em;

    .navbar-brand {
        font-size: 1.2em;
        padding-right: 0.5em;
    }

    .navbar-form .form-control {
        font-size: 0.8em;
    }

    .navbar-form {
        display: flex;
        align-items: center;

        #suggestions {
            align-self: flex-start;
            top: 2rem;

            span {
                font-size: 0.8em;
            }
        }
    }

    .navbar-form::after {
        top: auto;
    }
}