{% macro docs_sidebar(current_section) %}
<div class="col-lg-4 col-xl-3 docs-sidebar">
	<nav class="docs-links" aria-label="Main navigation">
			{% set index_path = current_section | trim_start_matches(pat="/") %}
			{% set index = get_section(path=index_path) %}
			{% set first_subsection = get_section(path=index.subsections[0]) %}
			<a class="docs-link" href="{{ first_subsection.pages[0].permalink }}"><h2>{{ index.title }}</h2></a>
			{% if index.extra.github_link %}
				<a class="docs-link d-flex align-items-center" target="_blank" href="{{ index.extra.github_link }}">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
					<span class="ms-2">GitHub</span>
				</a>
			{% endif %}
			{% if index.pages %}
					<h3>{{ index.title }}</h3>
					<ul class="list-unstyled">
					{% for page in index.pages %}                           
							<li><a class="docs-link{% if current_url == page.permalink %} active{% endif %}" href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
					{% endfor %}
					</ul>
			{% endif %}
			{% if index.subsections %}
					{% for s in index.subsections %}
					{% set subsection = get_section(path=s) %}
					{% if subsection.pages %}
							<h3>{{ subsection.title }}</h3>
							<ul class="list-unstyled">
							{% for page in subsection.pages %}                           
								{% if page.extra is containing("external_link") %}
									<li>
										<a class="d-flex align-items-center justify-content-between docs-link pe-3" target="_blank" href="{{ page.extra.external_link }}">
											<span>{{ page.title }}</span>
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ms-2 bi bi-box-arrow-up-right" viewBox="0 0 16 16">
												<path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
												<path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
											</svg>
										</a>
									</li>
								{% else %}
									<li><a class="docs-link{% if current_url == page.permalink %} active{% endif %}" href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
								{% endif %}
							{% endfor %}
					</ul>
					{% endif %}
					{% endfor %}
			{% endif %}
	</nav>
</div>
{% endmacro %}
