{% extends "section.html" %}

{% block body %}
  {% set page_class = "games" %}
{% endblock body %}

{% block header %}
  {# This value is matched by the config.extra.menu.main~section #}
  {% set current_section = "games" %}
  {{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xxl-8">
        <article>
          <h1 class="text-center">{{ section.title }}</h1>
          <div class="text-center">{{ section.content | safe }}</div>
          <div class="row mt-6 my-5">
            {% for s in section.subsections %}
              {% set subsection = get_section(path=s) %}
              <div class="col-18 col-sm-9">
                <div class="card">
                  <img src="{{ subsection.extra.image }}" class="card-img-top" alt="{{ subsection.title }}">
                  <div class="card-body">
                    <h5 class="card-title mt-0">{{ subsection.title }}</h5>
                    <p class="card-text">{{ subsection.description }}</p>
                    {% set card_subsection = get_section(path=subsection.subsections[0]) %}
                    <a href="{{ card_subsection.pages[0].permalink }}" class="btn btn-primary stretched-link">Learn More</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
