{% extends "base.html" %}

{% block seo %}
{{ super() }}

{% if config.title %}
{% set title = config.title %}
{% else %}
{% set title = "" %}
{% endif %}

{% if config.extra.title_addition and title %}
{% set title_addition = title_separator ~ config.extra.title_addition %}
{% elif config.extra.title_addition %}
{% set title_addition = config.extra.title_addition %}
{% else %}
{% set title_addition = "" %}
{% endif %}

{% set description = config.description %}

{{ macros_head::seo(title=title, title_addition=title_addition, description=description, is_home=true) }}
{% endblock seo %}

{% block body %}{% set page_class="home" %}{% endblock body %}
{% block content %}
<div class="content">
  <div class="flex row jcbtw fishbox">
    <div id="fish1" class="fish">
      <img src="assets/fish/sword.png" height="48" alt="sword" class="item">
    </div>
    <div id="fish2" class="fish flip">
      <img src="assets/fish/gun.png" height="48" alt="gun" style="animation-delay: 0.45s;" class="item">
    </div>
  </div>

  <div class="flex col title-box">
    <img height="240" src="assets/logo.png" alt="Fish Folk" style="width: 100%; z-index: 2; max-width: 96vw; height: auto">
    <h1 id="quote" class="quote mt-5">Fishy!</h1>
  </div>

  <div class="flex jcbtw mt-5">
    <iframe width="560" height="315" class="idvideo" src="https://www.youtube-nocookie.com/embed/f7Yo1AwQAEE"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

  <div class="flex row content_box mt-5 mb-4">
    <h2 class="big">Come talk to us!</h2>
    <div class="flex jcbtw" style="flex-wrap: wrap;">
      <a href="https://github.com/fishfight/FishFight" class="no-underline">
        <div class="content_button">
          <p>Github</p>
        </div>
      </a>

      <a href="https://discord.gg/4smxjcheE5" class="mx-2 no-underline">
        <div class="content_button">
          <p>Discord</p>
        </div>
      </a>

      <a href="https://twitter.com/spicylobsterfam" class="mx-2 no-underline">
        <div class="content_button">
          <p>Twitter</p>
        </div>
      </a>
    </div>
  </div>
</div>

<img id="fg3" class="bg" src="assets/Background/03.png" alt="background1" srcset="">
<img id="fg2" class="bg" src="assets/Background/02.png" alt="background1" srcset="">
<img id="fg1" class="bg" src="assets/Background/01.png" alt="background1" srcset="">
<canvas id="particlebox"></canvas>
<script type="text/javascript" src="assets/home.js"></script>

<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9"></div>
  </div>
</section>
{% endblock content %}